body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #f7ede2;
  font-family: "bdr-mono", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: "chill-script", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "brother-1816", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f5cac3;
}

h3 {
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: italic;
  color: #f7ede2;
}

p {
  font-family: "brevia", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #f7ede2;
  font-size: 18px;
}

a {
  font-family: "brevia", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.portfolio-header {
  display: flex;
  justify-content: center;
  background-color: #edddd4;
  padding: 10px;
  width: 100%;
  margin: auto;
}

.nav {
  width: 80%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.nav img {
  height: 200px;
}

.navigation ul {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.navigation ul li {
  list-style: none;
}
.navigation ul li a {
  color: #283d3b;
  text-decoration: none;
  font-size: 35px;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}
.navigation ul li .nav-active {
  border-bottom: 2px solid #edddd4;
}
.navigation ul li a:hover {
  box-shadow: inset 300px 0 0 0 #f1eeeb;
}

.content {
  height: 110px;
  display: flex;
  padding: 50px 0px;
  align-content: center;
  justify-content: center;
}
.content .text_shadows {
  font-family: "brother-1816", sans-serif;
  font-size: 150px;
  position: absolute;
  color: #283d3b;
  top: 111px;
}
.content img {
  width: 400px;
  height: 400px;
  position: relative;
  bottom: 100px;
  left: 150%;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bloc_about {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  background-color: #edddd4;
}

.description_about {
  background-color: #f7ede2;
  height: 700px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.description_about .picture {
  display: flex;
  flex-direction: column;
  height: 550px;
  background-color: #197278;
  border: 20px solid #197278;
}
.description_about .picture img {
  height: 450px;
}
.description_about .picture a {
  color: #edddd4;
  text-decoration: none;
  text-align: center;
  padding-top: 40px;
  font-size: 30px;
}
.description_about .texte_about {
  height: 300px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.description_about .texte_about h2 {
  font-size: 50px;
  color: #283d3b;
}
.description_about .texte_about p {
  color: #197278;
  font-size: 21px;
}

.title-infinity {
  display: flex;
  text-align: center;
  gap: 10%;
  width: 100%;
  background-color: #edddd4;
}
.title-infinity span {
  margin: 0;
  color: #283d3b;
  font-family: "brother-1816", sans-serif;
  font-size: 45px;
  white-space: nowrap;
}

.bloc_project {
  background-color: #197278;
  display: flex;
  flex-direction: column;
  height: 900px;
  width: 100%;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#container_project {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 50px;
}

.column {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 40%;
  background: #f7ede2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 6px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 230px;
  border-radius: 6px 6px 0 0;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}

.bloc_competences {
  height: 600px;
}

.bloc_contact {
  display: flex;
  height: 350px;
  width: 100%;
  justify-content: center;
  background-color: #197278;
}
.bloc_contact h2 {
  color: #f7ede2;
  font-size: 65px;
}

.container_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #edddd4;
  height: 200px;
}
.container_footer h3 {
  margin: 0;
  color: #283d3b;
}/*# sourceMappingURL=style.css.map */